body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav button {
    background-color: #333;
    color: white;
    padding: 1em;
    margin: 0.5em;
    border: none;
    cursor: pointer;
}

nav button:hover {
    background-color: #575757;
}

.section {
    display: none;
    padding: 2em;
}

.section.active {
    display: block;
    background-color: white;
    margin: 1em auto;
    width: 80%;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.item img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input[type="file"] {
    margin-bottom: 20px;
}

form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
.cam{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}